<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/font-awesome/css/font-awesome.min.css">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" >
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Redmouse</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#portfolio" class="large">Portfolio</a></li>
						<li><a href="#about" class="large">About</a></li>
						<li><a href="#contactMe" class="large">Contact me</a></li>
					</ul>
				</div>
		</div>
	</div>
